.k-star
	display inline-block
	margin 0 5px
	i
		color #ffb90f !important

	&.selecting
		animation 0.7s selecting ease

	&.unselecting
		animation 0.7s unselecting ease

	i
		cursor pointer

@keyframes selecting
	0%
		transform scale(0.8) rotate(-180deg)
		opacity 0
	20%
		transform scale(2) rotate(-100deg)
		opacity 0.3
	100%
		transform scale(1) rotate(0)
		opacity 1

@keyframes unselecting
	0%
		transform scale(0.3) rotate(180deg)
		opacity 0
	100%
		transform scale(1) rotate(0deg)
		opacity 1
		
		